<!DOCTYPE html>
<html>
<head>
    <title>Canavar Avı</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">SEN</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="playerProgress">
                    {{ playerHealth }}%
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">CANAVAR</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="monsterProgress">
                    {{ monsterHealth }}%
                </div>
            </div>
        </div>
    </section>
    <section v-if="!gameIsOn" class="row controls">
        <div class="small-12 columns">
            <button id="start-game" v-on:click="startGame">YENİ OYUN</button>
        </div>
    </section>
    <section v-else class="row controls">
        <div class="small-12 columns">
            <button id="attack" v-on:click="attack()">SALDIRI</button>
            <button id="special-attack" v-on:click="specialAttack()">ÖZEL SALDIRI</button>
            <button id="heal" v-on:click="healUp()">İLK YARDIM</button>
            <button id="give-up" v-on:click="giveUp()">PES ET!</button>
        </div>
    </section>
    <section v-if="!attacks.length == 0" class="row log">
        <div class="small-12 columns">
            <ul>
                <li :class="{'player-turn' : attack.turn == 'p', 'monster-turn' : attack.turn == 'm','yesil' : attack.text == 'this.logText.healUp + this.healUpMultiple'}"
                    v-for="attack in attacks">
                    {{ attack.text }}
                   
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>